.review-container {
    margin-top: 2rem;
    background: #063448;
    padding: 1rem;
}

.review-container h2 {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: .1rem;
    border-bottom: 1px solid #0F161D;
    margin-bottom: 4rem;
}

.review-container h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}