.form-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    justify-content: center;
}

.form-container h2 {
    padding: .5rem;
}

.form-group input {
    width: 100%;
    margin: .5rem;
    padding: 0;
    border: 2px solid #FFF;
    border-radius: 5px;
    padding: 5px;
}

.form-group input:focus {
    border: 2px solid #00b7c2;
}

.login-button {
    background: #00b7c2;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: .15rem;
}

.button {
    color: #00b7c2;
    cursor: pointer;
}

.login-form p {
    text-align: center;
    display: block;
    font-size: 1rem;
}

.register-form p {
    text-align: center;
    display: block;
    font-size: 1rem;
}

.text-primary {
    color: #00b7c2;
}

.register-form.hidden {
    display: none;
}

.login-form {
    transition: all .5s ease-in-out;
}

.register-form {
    transition: all .3s ease-in-out;
}

.login-form.hidden, register-form.hidden{
    transition: all .3s ease-in-out;
    display: none;
}