

.question-text {
    display: flex;
    width: 100%;
}

.question-container .question-text .review-question {
    cursor: pointer;
    padding: .5rem;
    margin-top: 3rem;
    font-size: .9rem;
    border-bottom: 1px solid #0F161D;
    justify-self: center;
}

.question-text p {
    padding: .5rem;
    margin-top: 3rem;
    font-size: .9rem;
    border-bottom: 1px solid #0F161D;
    line-height: 2rem;
    flex-basis: 5%;
    flex-grow: 0;
}

.question-text .correct {
    color: green;
}

.question-text .wrong {
    color: red;
}

.question-text h3 {
    flex-basis: 95%;
}

.reviewed-detail {
    background: #062436;
    border-bottom: 1px solid #0F161D;
    border-left: 1px solid #0F161D;
    border-right: 1px solid #0F161D;
    width: 90%;
    margin: auto;
    cursor: pointer;
}

.reviewed-detail p {
    padding: 1rem 1rem;

}

.reviewed-question.correct p{
    background: rgba(0, 128, 0, 0.123);
    
}

.reviewed-detail .review-explaination {
    padding: 1rem;
    letter-spacing: .1rem;
    font-size: .9rem;
    line-height: 1.5rem;
    font-weight: 200;
}