@keyframes pulsate {
    0% {
        box-shadow: 0px 0px 15px rgba(255,255,255,.78)
    }

    50% {
        box-shadow: 0px 0px 25px rgba(255,255,255,.78)
    }

    to {
        box-shadow: 0px 0px 15px rgba(255,255,255,.78)
    }
}
.navbar-top {
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: top;
    padding-right: 10px;
    padding-top: 10px;
    position: fixed;
    width: 100%;
    z-index: 15;
}

.menu-btn {
    margin-top: 1rem;
    margin-right: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all .5s ease;
    border: 3px solid #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgba(255,255,255,.78);
    z-index: 20;
    background: #272727;
}

.menu-btn:hover {
    animation-name: pulsate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.menu-btn__burger {
    width: 25px;
    height: 5px;
    background: #00b7c2;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 5px;
    background: #00b7c2;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}  

.menu-btn__burger::before {
    transform: translateY(-12px);
}

.menu-btn__burger::after {
    transform: translateY(12px);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
    transform: rotate(180deg);
    background: transparent;
    box-shadow: none;

}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(-45deg) translate(0px, 0px);
    background: #fff;
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(45deg) translate(0px, 0px);
    background: #fff;
}

.menu-btn.open {
    box-shadow: none;
}