.header-main {
    width: 100%;
    height: 92px;
    position: relative;
    margin-bottom: 1rem;
    z-index: -1;
}

.header-main h1 {
    color: #fff;
    position: absolute;
    bottom: .5rem;
    margin: 0;
    padding: 0;
    left: 1rem;
}