.prompt-container {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid #00b7c2;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: .2rem;
    margin: 10px;
    background: #000;
    margin-left: 0;
    margin-right: 0;
}

.prompt-container p {
    margin: 0;
    width: 90%;
    color: #FFF;
}

.prompt-container input {
    margin: 0;
    width: 10%;
}