.review-prompt-container {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: .2rem;
    margin: 10px;
}

.review-prompt-container p {
    margin: 0;
    width: 90%;
}

.review-prompt-container input {
    margin: 0;
    width: 10%;
}

.review-prompt-container.is-answer {
    border: solid 1px green;
    background: rgb(0, 56, 0);
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
    font-weight: normal;
    font-size: 1.2rem;
}

.review-prompt-container.not-answer {
    border: solid 1px red;
    background: black;
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
    font-weight: normal;
    font-size: 1.2rem;
    text-decoration: line-through;
}

.review-question-text {
    margin-left: 1rem;
}